h23348
s 00008/00000/00000
d D 1.1 26/04/12 13:56:43 twomuchcoffee 1 0
c date and time created 26/04/12 13:56:43 by twomuchcoffee
e
u
U
f e 0
t
T
I 1
/* Base body defaults */

body {
  background: var(--color-background);
  color: var(--color-text);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}
E 1
