/* labels.scss
   purpose: see assets/css/partials/README.md for organisation.
   import order: maintained by assets/css/main.scss.
*/

/* Label defaults */

label {
  display: inline-block;
  margin-bottom: 0.25rem;
  font-weight: 600;
}
