/* Utilities – tablet-specific helpers */

@media (min-width: 601px) and (max-width: 1024px) {
  .u-tablet-only {
    display: block !important;
  }

  .u-hide-tablet {
    display: none !important;
  }
}

@media (max-width: 600px),
(min-width: 1025px) {
  .u-tablet-only {
    display: none !important;
  }
}
